.project
.pydevproject*
.Python
.DS_Store
.idea
.installed.cfg
.mr.developer*
.settings
.coverage
.sass-cache
.css.map
bin
include
lib
eggs
develop-eggs
dist
parts
src
build
*.pyc
*.pt.py
Data.fs*
trello_api.json
.tmp*
*.egg-info
.salt.txt
local
