[buildout]

parts =
    roadrunner

eggs =
    coverage
    nose
    waitress
    betahaus.roadrunner
    arche_introspect
    pyramid_ipython

#    supervisor

#Managed by Mr Developer
develop = .

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[roadrunner]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
eggs =
    ${buildout:eggs}
interpreter = py


[sources]
Arche = git https://github.com/ArcheProject/Arche.git
arche_introspect = git https://github.com/ArcheProject/arche_introspect.git


[versions]
deform = 2.0a2
js.bootstrap = 3.3.4
pyramid = 1.6.1
repoze.sendmail = 4.1
